
.checkout_infor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    background-color: white;
    margin-left: 70px;
    margin-right: 70px;
    align-items: center;
    border-radius: 0.125rem;
    text-transform: capitalize;
    min-width: 780px;
    height: 45px;
}

.checkout_infor > p{
    font-size: 14px;
    padding: 0 50px;
    word-wrap: break-word;
}

.checkout_infor > .checkbox{
    width: 60px;
    
}

.checkout_infor > .name {
    width: 25%;
}

.checkout_product{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 500px;
    min-width: 780px;
    margin: 15px 70px 0 70px;
}

.checkout_payment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 100px;
    min-width: 780px;
    margin: 15px 70px 20px 70px;
}