.checkout_infor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    background-color: white;
    margin-left: 70px;
    margin-right: 70px;
    align-items: center;
    border-radius: 0.125rem;
    text-transform: capitalize;
    width: 90%;
}

.checkout_infor > p{
    font-size: 14px;
    padding: 0 50px;
    word-wrap: break-word;
}

.checkout_infor > .checkbox{
    width: 60px;
    
}

.checkout_infor > .name {
    width: 25%;
}