.page-header{
    background-image: url("img/banner/b1.jpg");
    width: 100%;
    height: 45vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 14px;
}

.page-header h2{
    font-size: 44px;
    color: white;
}

.page-header p{
    font-size: 34px;
    color: white;
}

.shop_product{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 1300px;
    flex-wrap: wrap;
}

.products-row {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0 auto;
}

#pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#pagination p{
    text-decoration: none;
    background-color:  #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    margin: 40px 5px;
}
